<a href="https://colab.research.google.com/github/Haerul78/Learn-Python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def calculate_bmi(weight, height):
  """Menghitung Body Mass Index"""
  bmi = weight / (height ** 2)
  return round(bmi, 2)

def classify_bmi(bmi):
  """Mengklasifikasikan BMI"""
  if bmi < 18:
    return "Kekurangan Berat Badan"
  elif bmi < 25:
    return "Normal"
  elif bmi < 30:
    return "Kelebihan Berat Badan"
  else:
    return "Obesitas"

weight, height = 70, 1.75
bmi = calculate_bmi(weight, height)
print(f"BMI Anda adalah {bmi}")
print(f"Anda termasuk dalam kategori {classify_bmi(bmi)}")

BMI Anda adalah 22.86
Anda termasuk dalam kategori Normal

In [2]:
class DataAnalyst:
    def __init__(self, name, experience_years):
        self.name = name
        self.experience_years = experience_years
        self.skills = []

    def add_skill(self, skill):
        self.skills.append(skill)

    def get_level(self):
        if self.experience_years < 2:
            return "Junior"
        elif self.experience_years < 5:
            return "Mid-level"
        else:
            return "Senior"

    def __str__(self):
        return f"{self.name} - {self.get_level()} Data Analyst"

analyst =  DataAnalyst("Alice", 3)
analyst.add_skill("Python")
analyst.add_skill("SQL")
print(analyst)

Alice - Mid-level Data Analyst

In [3]:
def safe_divide(a, b):
    try:
        result = a / b
        return result
    except ZeroDivisionError:
        print("Error: Tidak bisa membagi dengan nol!")
        return None
    except TypeError:
        print("Error: Input harus berupa angka!")
        return None
    finally:
        print("Operasi selesai")

# Testing
print(safe_divide(10, 2))   # 5.0
print(safe_divide(10, 0))   # Error message + None

Operasi selesai
5.0
Error: Tidak bisa membagi dengan nol!
Operasi selesai
None

Numpy Learning

In [4]:
import numpy as np

# Membuat array
arr1d = np.array([1, 2, 3, 4, 5])
arr2d = np.array([[1, 2, 3], [4, 5, 6]])
arr3d = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])

print(f"1D Array: {arr1d}")
print(f"2D Array:\n{arr2d}")
print(f"3D Array:\n{arr3d}")

1D Array: [1 2 3 4 5]
2D Array:
[[1 2 3]
 [4 5 6]]
3D Array:
[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

- ```np.array([1, 2, 3, 4, 5])``` akan membentuk array 1 dimensi atau vektor
$$ \begin{pmatrix} 1 \\ 2 \\ 3 \\ 4 \\ 5 \end{pmatrix} $$
- ```np.array([[1, 2, 3], [4, 5, 6]])``` akan membentuk array 2 dimensi
$$ \begin{pmatrix}
1 & 2 & 3 \\
4 & 5 & 6
\end{pmatrix}
$$
- ```np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])``` akan membentuk array 3 dimensi
$$
\text{Lapisan 1:}
\begin{pmatrix}
1 & 2 \\
3 & 4
\end{pmatrix}
\quad
\text{Lapisan 2:}
\begin{pmatrix}
5 & 6 \\
7 & 8
\end{pmatrix}
$$

In [8]:
import numpy as np

arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

# Properties
print(arr)
print(f"Shape: {arr.shape}")        # (3, 4)
print(f"Size: {arr.size}")          # 12
print(f"Dimensions: {arr.ndim}")    # 2
print(f"Data type: {arr.dtype}")    # int64

# Reshaping
reshaped = arr.reshape(4, 3)
print(f"Reshaped:\n{reshaped}")

# Flattening
flattened = arr.flatten()
print(f"Flattened: {flattened}")

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
Shape: (3, 4)
Size: 12
Dimensions: 2
Data type: int64
Reshaped:
[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]
Flattened: [ 1  2  3  4  5  6  7  8  9 10 11 12]

Numpy Property dan Method

__Property__
- __arr.shape__: mendapatkan bentuk array dari baris dan kolom.
- __arr.size__: mendapatkan total jumlah elemen.
- __arr.ndim__: mendapatkan jumlah dimensi array.
- __arr.dtype__: mendapatkan tipe data.

__Method__
- __arr.reshape(rows, colums)__: Mengubah bentuk array tanpa mengubah isinya. Return nya Array baru dengan shape yang diminta
- __arr.flatten()__: Meratakan array jadi 1 dimensi. Return nya Array 1D dengan semua elemen berjajar

In [3]:
import numpy as np

# Zeros, ones, dan empty
zeros = np.zeros((3, 4))
print(f"zeros:\n{zeros}")
ones = np.ones((2, 3))
print(f"ones:\n{ones}")
empty = np.empty((2, 2))
print(f"empty:\n{empty}")

# Arange dan linspace
arange_arr = np.arange(0, 10, 2)    # [0, 2, 4, 6, 8]
print(f"arange:\n{arange_arr}")
linspace_arr = np.linspace(0, 1, 5) # [0, 0.25, 0.5, 0.75, 1.0]
print(f"linspace:\n{linspace_arr}")

# Random arrays
random_arr = np.random.random((3, 3))
print(f"random:\n{random_arr}")
random_int = np.random.randint(1, 100, (3, 3))
print(f"randint:\n{random_int}")

# Identity matrix
identity = np.eye(3)
print(f"Identity Matrix:\n{identity}")

zeros:
[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]
ones:
[[1. 1. 1.]
 [1. 1. 1.]]
empty:
[[2.02991808e-315 0.00000000e+000]
 [6.74400942e-310 6.74400942e-310]]
arange:
[0 2 4 6 8]
linspace:
[0.   0.25 0.5  0.75 1.  ]
random:
[[0.59100472 0.19746427 0.87634513]
 [0.97804946 0.47605459 0.31123684]
 [0.57194685 0.13148422 0.29006604]]
randint:
[[67 82 32]
 [ 9 75 31]
 [50  4 66]]
Identity Matrix:
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

- __np.zeros((rows, colums))__: Method ini membuat array baru yang berisi semua angka nol (0).
- __np.ones((rows, colums))__: Method ini membuat array baru yang berisi semua angka satu (1).
- __np.empty((rows, colums))__: Method ini membuat array baru dengan bentuk yang ditentukan (2, 2), tetapi isinya tidak diinisialisasi. Array ini akan berisi nilai "sampah" atau random dari memori yang dialokasikan. Tujuannya adalah untuk alokasi memori yang lebih cepat jika Anda berencana untuk langsung mengisi array tersebut dengan data lain nanti.
- __np.arange(start, stop, step)__: Mirip dengan fungsi range() di Python. Method ini membuat array yang berisi angka-angka dalam rentang tertentu.
- __np.linspace(start, stop, num)__: Method ini juga membuat array dalam rentang tertentu, tetapi dengan cara yang berbeda. Ia menghasilkan angka yang jaraknya sama (equal spacing) antara awal dan akhir.
- __np.random.random((rows, colums))__: Method ini membuat array yang diisi dengan angka desimal acak antara 0.0 dan 1.0.
- __np.random.randint(low, high, size)__: Method ini membuat array yang diisi dengan bilangan bulat acak.
- __np.eye(N)__: Matriks ini adalah matriks persegi di mana semua elemen di diagonal utama adalah satu (1), dan sisanya adalah nol (0). Parameter 3 menentukan dimensi matriks persegi, yaitu 3x3.

In [11]:
import numpy as np

# Element-wise operations
a = np.array([1, 2, 3, 4])
b = np.array([5, 6, 7, 8])

print(f"Addition: {a + b}")       # [6, 8, 10, 12]
print(f"Multiplication: {a * b}") # [5, 12, 21, 32]
print(f"Power: {a ** 2}")         # [1, 4, 9, 16]

# Matrix operations
matrix_a = np.array([[1, 2], [3, 4]])
matrix_b = np.array([[5, 6], [7, 8]])

# Dot product
dot_product = np.dot(matrix_a, matrix_b)
print(f"Dot Product:\n{dot_product}")

# Matrix multiplication (Python 3.5+)
matmul = matrix_a @ matrix_b
print(f"Matrix Multiplication:\n{matmul}")

Addition: [ 6  8 10 12]
Multiplication: [ 5 12 21 32]
Power: [ 1  4  9 16]
Dot Product:
[[19 22]
 [43 50]]
Matrix Multiplication:
[[19 22]
 [43 50]]

In [12]:
import numpy as np

data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

# Basic statistics
print(f"Mean: {np.mean(data)}")           # 5.0
print(f"Median: {np.median(data)}")       # 5.0
print(f"Standard Deviation: {np.std(data)}")  # 2.58
print(f"Sum: {np.sum(data)}")             # 45
print(f"Min: {np.min(data)}")             # 1
print(f"Max: {np.max(data)}")             # 9

# Axis-specific operations
print(f"Mean per column: {np.mean(data, axis=0)}")  # [4, 5, 6]
print(f"Sum per row: {np.sum(data, axis=1)}")       # [6, 15, 24]

Mean: 5.0
Median: 5.0
Standard Deviation: 2.581988897471611
Sum: 45
Min: 1
Max: 9
Mean per column: [4. 5. 6.]
Sum per row: [ 6 15 24]

In [13]:
import numpy as np

arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

# Basic indexing
print(f"Element [1,2]: {arr[1, 2]}")      # 7
print(f"First row: {arr[0, :]}")          # [1, 2, 3, 4]
print(f"Last column: {arr[:, -1]}")       # [4, 8, 12]

# Boolean indexing
mask = arr > 5
print(f"Elements > 5: {arr[mask]}")       # [6, 7, 8, 9, 10, 11, 12]

# Fancy indexing
indices = [0, 2]
print(f"Rows 0 and 2:\n{arr[indices]}")

Element [1,2]: 7
First row: [1 2 3 4]
Last column: [ 4  8 12]
Elements > 5: [ 6  7  8  9 10 11 12]
Rows 0 and 2:
[[ 1  2  3  4]
 [ 9 10 11 12]]

In [14]:
import numpy as np

# Broadcasting allows operations between arrays of different shapes
a = np.array([[1, 2, 3], [4, 5, 6]])
b = np.array([10, 20, 30])

result = a + b  # b is broadcasted to match a's shape
print(f"Broadcasting result:\n{result}")
# [[11, 22, 33]
#  [14, 25, 36]]

# Broadcasting with scalar
scalar_result = a * 2
print(f"Scalar multiplication:\n{scalar_result}")

Broadcasting result:
[[11 22 33]
 [14 25 36]]
Scalar multiplication:
[[ 2  4  6]
 [ 8 10 12]]

Pandas Learning

In [17]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [15]:
# Pengenalan pandas
import pandas as pd
import numpy as np

# Membuat Series
series = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
print(f"Series:\n{series}")

# Membuat DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Age': [25, 30, 35, 28],
    'City': ['Jakarta', 'Bandung', 'Surabaya', 'Medan'],
    'Salary': [5000000, 7000000, 8500000, 6200000]
}

df = pd.DataFrame(data)
print(f"\nDataFrame:\n{df}")

Series:
a    1
b    2
c    3
d    4
e    5
dtype: int64

DataFrame:
      Name  Age      City   Salary
0    Alice   25   Jakarta  5000000
1      Bob   30   Bandung  7000000
2  Charlie   35  Surabaya  8500000
3    Diana   28     Medan  6200000

In [25]:
df = pd.DataFrame({
    'Product': ['Laptop', 'Mouse', 'Keyboard', 'Monitor'],
    'Price': [15000000, 250000, 750000, 3500000],
    'Category': ['Electronics', 'Accessories', 'Accessories', 'Electronics'],
    'Stock': [50, 200, 150, 75]
})

df.to_csv('/content/drive/MyDrive/Learn Python/output.csv', index=False)
print(df)

    Product     Price     Category  Stock
0    Laptop  15000000  Electronics     50
1     Mouse    250000  Accessories    200
2  Keyboard    750000  Accessories    150
3   Monitor   3500000  Electronics     75

In [38]:
import pandas as pd

# Membuat sample dataset
np.random.seed(42)
n_samples = 1000

df = pd.DataFrame({
    'customer_id': range(1, n_samples + 1),
    'age': np.random.randint(18, 80, n_samples),
    'income': np.random.normal(50000, 15000, n_samples),
    'spending': np.random.normal(30000, 8000, n_samples),
    'category': np.random.choice(['A', 'B', 'C'], n_samples)
})


print("Dataset Info:")
print(f"Shape: {df.shape}")
print(f"Columns: {df.columns.to_list()}")
print(f"Data types:\n{df.dtypes}")
print(f"\nFirst 5 rows:\n{df.head()}")
print(f"\nBasic statistics:\n{df.describe()}")
print(f"\nMissing values:\n{df.isnull().sum()}")

Dataset Info:
Shape: (1000, 5)
Columns: ['customer_id', 'age', 'income', 'spending', 'category']
Data types:
customer_id      int64
age              int64
income         float64
spending       float64
category        object
dtype: object

First 5 rows:
   customer_id  age        income      spending category
0            1   56  70585.666948  29298.893937        A
1            2   69  39833.208605  31221.743194        C
2            3   46  67302.978080  34705.599480        A
3            4   32  44374.840574  34069.345997        B
4            5   60  39587.810697  10546.291430        A

Basic statistics:
       customer_id          age        income      spending
count  1000.000000  1000.000000   1000.000000   1000.000000
mean    500.500000    49.857000  50678.036054  30382.618802
std     288.819436    18.114267  16015.803326   8112.162221
min       1.000000    18.000000  -3523.079490   6787.810538
25%     250.750000    35.000000  40583.054209  24864.020857
50%     500.500000    50.000000  50996.463595  30543.499093
75%     750.250000    66.000000  61447.977766  35908.404751
max    1000.000000    79.000000  97616.632057  56037.178345

Missing values:
customer_id    0
age            0
income         0
spending       0
category       0
dtype: int64